.expense-table {
  display: flex;
  overflow: hidden;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;

  &--empty {
    justify-content: center;
    align-items: center;
  }

  th {
    cursor: pointer;
    user-select: none;
  }
}
